.container {
  max-width: 640px;
}

textarea {
  width: 100%;
}

.output {
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}

.content {
  overflow-wrap: break-word;
}

.card-wrapper {
  overflow: hidden;
}

.card-wrapper a {
  color: #000;
  text-decoration: none;
}

.card {
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  margin: 10px;
  padding: 10px;
}

.card img {
  margin-right: 10px;
  object-fit: cover;
}

.card h2 {
  font-size: 16px;
}

.card p {
  font-size: 12px;
}
